<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Designed by BRAVERS</title>
  <link rel="stylesheet" href="Template2.css">
</head>
<body>

<div class="resume-container">
  <div class="header">
    <h1 class="Name">Nishant singh</h1>
    <h2 class="fontBold" style="font-weight: 700;">Data Scientist</h2>
    <p style="color: #333;"> <a href="#" class="NoneDecoration">Haridwar (Uttrakhand)</a> | <a class="NoneDecoration" href="mailto:nishantsingh.talk@gmail.com" target="_blank">nishantsingh.talk@gmail.com</a> | <a class="NoneDecoration" href="https://nishantksingh0.github.io" target="_blank">nishantksingh0.github.io</a></p>
  </div>

  <h3 class="Heading">Summary</h3>
  <div class="summary">
    <p>A passionated AI developer with extensive experience in various machine learning models, Primarily i focus on building models from scratch rather than relying heavily on fine-tuning pre-trained models. All my projects, showcasing my skills and contributions, are available on GitHub & Kaggle.</p>
  </div>

  <h3 class="Heading">Education</h3>
  <div class="education">
    <div class="education-item">
      <ul>
        <li><h4 class="SpaceBetween">Batchelor in Computer application <span>2023 - 2026</span></h4></li>
        <p>Haridwar University || SGPA: 8</p>
      </ul>  
    </div>
    <div class="education-item">
      <ul>
        <li><h4 class="SpaceBetween">Primary Secondary Education <span> 2021 - 2022 </span></h4></li>
        <p>Vidya Mandir (Haridwar) || SGPA: 8</p>
      </ul>  
    </div>
  </div>

  <h3 class="Heading">Work Experience</h3>
  <div class="experience">
    <div class="experience-item">
      <ul>
        <li class="SpaceBetween">Onlei tech (Data Scientist) <span>Dec-2024 to Mar-2025</span></li>
        Learn to visualize patterns from data using matplotlib and Built several DL models
      </ul>
    </div>
    <div class="experience-item">
      <ul>
        <li class="SpaceBetween">Microsoft (Python Engineer) <span>May-2024 to Jul-2024</span></li>
        Learn to use python in NLP tasks to take advantages of LLM
      </ul>
    </div>
  </div>
  
  <h3 class="Heading">Projects<h3>
    <div class="education">
      <div class="Projects-items ">
        <ul>
          <li><h4 class="fontlight">Transformer based translation model</h4></li>
          <p>Tensorflow, Trasformer architecture, NumPy, WMT Translation dataset</p>
        </ul>  
      </div>
      <div class="Projects-items">
        <ul>
          <li><h4 class="fontlight">Exam Proctoring system</h4></li>
          <p>React, Flask, OpenCV, NumPy, Mediapipe, Pillow, WebSocket, ThreadPool</p>
        </ul>  
      </div>
      <div class="Projects-items">
        <ul>
          <li><h4 class="fontlight">Persion bounding box detection</h4></li>
          <p>OpenCV, Json, Tensorflow, Pandas, Matplotlib, NumPy</p>
        </ul>  
      </div>
    </div>

  <h3 class="Heading">Certifications</h3>
  <div class="SpaceBetween Certificats">
    <div>Azure AI Engineer association<br>C/C++<br>DataScientist Internship<br>Intro To responsive AI<br>Bits & byts of computer<br><a href="#" class="NoneDecoration" target="_blank">More Certificates</a></div>
    <div>~<br>~<br>~<br>~<br>~<br></div>
    <div>Microsoft<br>Cad Planet<br>Onlei Tech<br>SimpliLearn<br>Coursera<br></div>
  </div>

  <h3 class="Heading">Technical Skills</h3>
  <div class="skills SpaceBetween">
    <ul>
      <li>TensorFlow</li> <br> <li> PyTorch</li> <br> <li> Scikit-learn</li>
   </ul>
   <ul>
      <li> Keras</li> <br> <li> Hugging Face</li> <br> <li> C/C++</li>
   </ul>
   <ul>
      <li> Java</li> <br> <li> JavaScript</li> <br> <li> React</li>
   </ul>
  </div>
</div>
</body>
</html>
