* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Name{
  font-family: Verdana;
}

body {
  font-family: Arial, sans-serif;
  background: #e4e4e4;
  color: #333;
  padding: 20px;
}

.resume-container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #666;
  margin-bottom: 0.75rem;
}

.header p {
  font-size: 0.9rem;
  color: #666;
}

.summary p {
  line-height: 1.5;
  margin: 0 20px 0 20px;
  margin-bottom: 0.5rem;
}

.skills ul {
  margin-left: 10px;
  padding-left: 0;
}

.skills li {
  margin: 0 20px 0 30px;
  margin-bottom: 0.5rem;
}

.experience-item {
  margin:0 20px 10px 0;
}

.experience-item h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.experience-item span {
  font-size: 0.9rem;
  color: #999;
}

.experience-item ul {
  list-style: disc;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
}

.experience-item li {
  margin-bottom: 0.5rem;
}

.education {
  margin-left: 10px;
}

.education-item {
  margin: 0 10px 10px 20px;
}

.education-item h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.education-item span {
  font-size: 0.9rem;
  color: #999;
}

.Projects-items {
  margin-bottom: 10px;
  margin-left: 20px;
}

.Projects-items h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.Projects-items p {
  font-size: medium;
  font-weight: lighter;
}

.Certificats {
  margin: 10px 20px;
}

.SpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #525151;
}

.fontlight{
  color: #494848;
}

.fontBold {
  font-weight: bolder;
  color: #333;
}

.NoneDecoration {
  text-decoration: none;
  color: #2d3499;
}

.Heading {
  padding: 13px 20px 10px 20px;
  color: #424141;
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: #c5c3c3;
}
