<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Designed by BRAVERS</title>
   <link rel="stylesheet" href="Template5.css">
</head>
<body>

<div class="resume-container">
  <div class="header">
    <h1>Nishant singh</h1><br>
    <p><a class="DecorationNone" href="https://nishantksingh0.github.io/" target="_blank">nishantksingh0.github.io</a> | <a class="DecorationNone" href="#"> 9917760469</a> | <a href="mailto:nishantsingh.talk@gmail.com" class="DecorationNone" target="_blank"> nishantsingh.talk@gmail.com</a> <br> <div style="margin-top: 6px;">Haridwar (Uttrakhand)</div> </p>
  </div>

  <div class="summary">
    <h3>Summary</h3>
    <p>A passionated AI developer with extensive experience in various machine learning models, Primarily i focus on building models from scratch rather than relying heavily on fine-tuning pre-trained models. All my projects, showcasing my skills and contributions, are available on GitHub & Kaggle.</p>
  </div>

  <div class="experience">
    <h3>Work Experience</h3>
    <div class="experience-item">
      <ul class="circle-list">
        <li><h4 class="spacebetween">Onlei tech | Data Scientist <span>Dec-2024 to Mar-2025</span></h4></li>
        Learn to visualize patterns from data using matplotlib and Built several DL models
      </ul>
    </div>
    <div class="experience-item">
        <ul class="circle-list">
          <li><h4 class="spacebetween">Microsoft | Python engineer <span>May-2024 to Jul-2024</span></h4></li>
          Learn to use python in NLP tasks to take advantages of LLM
        </ul>
    </div>
  </div>

  <div class="education-section">
    <h3>Education</h3>
    <div class="education-item">
      <ul class="square-list">
        <li><h4 class="spacebetween">Batchelor in Computer application <span>2023 - 2026</span></h4></li>
        <p>Haridwar University | SGPA: 8</p>
      </ul>
    </div>
    <div class="education-item">
      <ul class="square-list">
        <li><h4 class="spacebetween">Primary/Secondary Education <span>2021 - 2023</span></h4></li>
        <p>Vidya Mandir Sec-5 (Haridwar) | SGPA: 8</p>
      </ul>
    </div>
  </div>

  <div class="projects">
    <h3>Projects</h3>
    <div class="project-item">
      <ul>
        <li><h4 class="spacebetween">Transformer based translation model</h4></li>
        <p>Tensorflow, Trasformer architecture, NumPy, WMT Translation dataset</p>
      </ul>
    </div>
    <div class="project-item">
      <ul>
        <li><h4 class="spacebetween">Exam Proctoring system</h4></li>
        <p>React, Flask, OpenCV, NumPy, Mediapipe, Pillow, WebSocket, ThreadPool</p>
      </ul>
    </div>
    <div class="project-item">
      <ul>
        <li><h4 class="spacebetween">Persion bounding box detection</h4></li>
        <p>OpenCV, Json, Tensorflow, Pandas, Matplotlib, NumPy</p>
      </ul>
    </div>
  </div>

  <div class="Certifications">
    <h3>Certifications</h3>
    <div class="spacebetween Certificate-item">
      <div>Azure AI Engineer association<br>C/C++<br>DataScientist Internship<br>Intro To responsive AI<br>Bits & byts of computer<br><a class="DecorationNone" href="#" target="_blank">More Certificates</a></div>
      <div>~<br>~<br>~<br>~<br>~<br></div>
      <div>Microsoft<br>Cad Planet<br>Onlei Tech<br>SimpliLearn<br>Coursera<br></div>
    </div>
  </div>

  <div class="skills">
    <h3>Skills</h3>
    <p class="skills-item"><strong style="color: rgb(75, 77, 77);">Soft Skills: </strong>TeamWork, strong Problem-Solving skill, Leadership, Critical thinking, Communication</p>
    <p class="skills-item"><strong>Tech Skills: </strong style="color: rgb(75, 77, 77);">TensorFlow, PyTorch, Scikit-learn, Keras, Hugging Face, C/C++, Java, JavaScript, React</p>
  </div>
</div>
</body>
</html>
